{% extends 'layouts/base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="split left">
  <ul class="wrapper">
    <li>
      <h3>New Task</h3>
    </li>
  </ul>
  
  <form class="title" method="post">
      <label for="title">Title</label>
      <input type="text" class="textTitle" id="title" name="title"/><br><br>
      <label for="text" style="position:fixed; margin-top: 3px;">Text</label>
      <textarea id="text" name="text"></textarea><br><br>
      <label for="tags">Tags</label>
      <input id="tags" type="text" class="textTitle" name="tags"/><br><br>
      <button type="submit" class="btn btn-info">Create</button>
  </form>
</div>
{% endblock %}