{% extends 'layouts/base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>Выберите сотрудника</h3>
          </div>
          <div class="card-body">
            <form method="post" action="{% url 'profiles' task_id=task.id %}">
              {% csrf_token %}

              {% for profile in profiles %}
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="selected_profile"
                         id="selected_profile{{ profile.user.id }}"
                         value="{{ profile.user.id }}">
                  <label class="form-check-label" for="selected_profile{{ profile.user.id }}">
                    {{ profile }}
                  </label>
                </div>
              {% endfor %}

              <button type="submit" class="btn btn-primary mt-3">Подтвердить</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
