{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
  <div class="realization-container">
    <h2 class="realization-author">Сотрудник: {{ realization.author }}</h2>
    <h3 class="realization-task-title">Задание: {{ realization.task.title }}</h3>
    <p class="realization-task-description">Описание: {{ realization.task.description }}</p>
    {% if realization.completed %}
      <p class="realization-page-text">Статус: выполнено</p>
    {% else %}
      <p class="realization-page-number">Номер страницы: {{ realization.current_page.number }}</p>
      {% if realization.author == request.user.profile %}
        <a href="{% url 'fill' realization.id %}" class="btn btn-primary">Продолжить выполнение</a>      
      {% endif %}
    {% endif %}
  </div>
{% endblock %}