{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
  <style>
      .green-cell {
          background-color: lightgreen;
      }

      .red-cell {
          background-color: lightcoral;
      }
  </style>
  <div class="container mt-5">
    <h2>График реализаций</h2>

    <form method="get" class="mb-3">
      <div class="row">
        <div class="col-md-4">
          <label for="filter">Фильтр по пользователям:</label>
          <select class="form-select" name="filter" id="filter">
            <option value="all" {% if filter == 'all' %}selected{% endif %}>Все пользователи</option>
            <option value="user" {% if filter == 'user' %}selected{% endif %}>Конкретный пользователь</option>
          </select>
        </div>
        {% if filter == 'user' %}
          <div class="col-md-4">
            <label for="user_id">Выберите пользователя:</label>
            <select class="form-select" name="user_id" id="user_id">
              {% for user in users %}
                <option value="{{ user.id }}"
                        {% if user.id == selected_user_id %}selected{% endif %}>{{ user }}</option>
              {% endfor %}
            </select>
          </div>
        {% endif %}
        <div class="col-md-4">
          <label for="completed">Статус выполнения:</label>
          <select class="form-select" name="completed" id="completed">
            <option value="all" {% if completed == 'all' %}selected{% endif %}>Все</option>
            <option value="true" {% if completed == 'true' %}selected{% endif %}>Выполненные</option>
            <option value="false" {% if completed == 'false' %}selected{% endif %}>Не выполненные</option>
          </select>
        </div>
        <div class="col-md-4 mt-3">
          <button type="submit" class="btn btn-primary">Применить</button>
        </div>
      </div>
    </form>

    <div class="chart-container" style="position: relative; height:40vh; width:80vw">
      <canvas id="myChart"></canvas>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var ctx = document.getElementById('myChart').getContext('2d');

      var labels = [];  // Здесь поместите ваши даты
      var datasets = [];

      {% for realization in realizations %}
        var data = [
          {% for date, color_class in realization.date_colors.items %}
            {% if color_class == 'green-cell' %}
              { t: '{{ date }}', y: 1 },
            {% elif color_class == 'red-cell' %}
              { t: '{{ date }}', y: -1 },
            {% endif %}
          {% endfor %}
        ];

        datasets.push({
          label: '{{ realization }}',
          borderColor: 'rgba(75, 192, 192, 1)',
          data: data,
        });
      {% endfor %}

      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: labels,
          datasets: datasets,
        },
        options: {
          scales: {
            x: {
              type: 'time',
              time: {
                unit: 'month',  // Укажите необходимую единицу времени
                tooltipFormat: 'll',  // Формат для всплывающих подсказок
              },
              title: {
                display: true,
                text: 'Дата',
              },
            },
            y: {
              title: {
                display: true,
                text: 'Статус',
              },
              ticks: {
                min: -1,
                max: 1,
                stepSize: 1,
                callback: function(value, index, values) {
                  return value === 1 ? 'Зеленый' : (value === -1 ? 'Красный' : '');
                },
              },
            },
          },
        },
      });
    });
  </script>
{% endblock %}
