{% extends 'layouts/base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <div class="split left">
    <div class="container mt-4">
      <div class="offset-md-1 col-md-5">
        <div class="mb-3">
          <h5>Название задания</h5>
          <p>{{ task.title }}</p>
        </div>

        <div class="mb-3">
          <h5>Описание задания</h5>
          <p>{{ task.description }}</p>
        </div>
        <form id="beginForm">
          {% csrf_token %}
          <button type="button" class="btn btn-primary" onclick="beginFill('{{ task.id }}')">Начать</button>
        </form>

        <!-- Добавленная кнопка для перехода на /profiles/<task_id> -->
        <a href="{% url 'profiles' task.id %}" class="btn btn-secondary mt-3">Назначить задание</a><br>
        <a href="{% url 'edit' task.id %}" class="btn btn-dark mt-3">Редактировать задание</a>
      </div>
    </div>
  </div>
{% endblock %}
